<a href="https://colab.research.google.com/github/OmkarGhanekar28/Big-Data-Analysis/blob/main/BDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler #(standardize data to common range)
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
 # Loading the diabetes dataset to pandas dataframe
df=pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [4]:
df.shape

(768, 9)

In [5]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [6]:
# all data except labels
X= df.drop(columns="Outcome",axis=1)
y=df["Outcome"]

In [7]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [8]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y, random_state=2)
# stratify on "Outcome" column to maintain similar proportion of diabetic or non-diabetic
# random-state is like an index number for partiular splitting of data
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [10]:
classifier=svm.SVC(kernel='linear')

In [11]:
classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [12]:
# accuracy_score of training data

X_train_prediction=classifier.predict(X_train)
training_data_accuracy_score=accuracy_score(y_train,X_train_prediction)
print(f"Accuracy Score of training data : {training_data_accuracy_score * 100} %")

Accuracy Score of training data : 78.33876221498372 %

In [13]:
# accuracy_score of testing data

X_test_prediction=classifier.predict(X_test)
testing_data_accuracy_score=accuracy_score(y_test,X_test_prediction)
print(f"Accuracy Score of testing data : {testing_data_accuracy_score * 100} %")

Accuracy Score of testing data : 77.27272727272727 %

In [14]:
import pickle
filename="diabetesmodel.sav"
pickle.dump(classifier,open(filename,'wb'))
# loading the saved model
loaded_model=pickle.load(open("diabetesmodel.sav",'rb'))

In [15]:
# 1,85,66,29,0,26.6,0.351,31,0
# 8,183,64,0,0,23.3,0.672,32,1
input_data=(1,85,66,29,0,26.6,0.351,31)

# change input_data to numpy array
inp_data_as_numpy_arr=np.asarray(input_data)
print(f"1D Data : {inp_data_as_numpy_arr}\n")

# input data reshape because model is expecting 2D array or all data , we'll reshape our 1d data to 2d and feed our model an instance
inp_data_reshape=inp_data_as_numpy_arr.reshape(1,-1)
print(f"2D Data : {inp_data_reshape}\n")

# standardize the input data
# std_data=scaler.transform(inp_data_reshape)
# print(f"Standardized Data : {std_data}\n")

# prediction
prediction = loaded_model.predict(inp_data_reshape)
print(f"Predicted Value: {prediction}")
if(prediction[0]==0):
    print("This person is Non-Diabetic")
else:
    print("This person is Diabetic")

1D Data : [ 1.    85.    66.    29.     0.    26.6    0.351 31.   ]

2D Data : [[ 1.    85.    66.    29.     0.    26.6    0.351 31.   ]]

Predicted Value: [0]
This person is Non-Diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"